/*
 *= require selectize
 *= require selectize.bootstrap3
 *= require_tree .
 *= require_self
 */

.selectize-dropdown-content {
  .option {
    span.highlight {
      text-align: left;
      padding: 0;
      font-size: 14px;
      color: #000000;
    }
  }
}
