<%= content_for :page_title, "Policies" %>

<h1>Policies</h1>

<p>
  <%= link_to "Create a policy", new_policy_path %>
</p>

<ul>
  <% policies.each do |policy| %>
    <li><%= policy.name %></li>
  <% end %>
</ul>
